<app-auth-content>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <form [formGroup]="form" (submit)="onSubmit()">

                <mat-form-field *ngIf="!id" class="w-100">
                    <mat-label>ชื่อผู้ใช้</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>

                <div *ngIf="id">ชื่อผู้ใช้ <b>{{ form.get('username').value }}</b></div>

                <mat-form-field class="w-100">
                    <mat-label>รหัสผ่าน</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>เบอร์โทร</mat-label>
                    <input matInput formControlName="user_phone_number">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>อีเมล</mat-label>
                    <input matInput formControlName="user_email">
                </mat-form-field>

                <app-upload-file [attachItem]="userModel?.attachments" (attachIdEvent)="setAttachId($event)">
                </app-upload-file>

                <button mat-flat-button color="primary" type="submit">บันทึก</button>
            </form>
        </div>
    </div>
</app-auth-content>